@model IQueryable<Contact>

@{
    ViewData["Title"] = "Contacts";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Contact Table</h2>
        </div>
    </div>

    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Married</th>
                <th>Phone</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr id="row-@c.Id">
                    <td>
                        <span>@c.Name</span>                        
                    </td>
                    <td>
                        <span>@c.DateOfBirth.ToShortDateString()</span>                        
                    </td>
                    <td>
                        <span>@c.Married</span>                        
                    </td>
                    <td>
                        <span>@c.Phone</span>                       
                    </td>
                    <td>
                        <span>@c.Salary</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>