@model IQueryable<Contact>

@{
    ViewData["Title"] = "Contacts";
}

<head>
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css" />
</head>

<div class="container">
    <div>
        <h1>Upload CSV File</h1>
        <form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="csvFile" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Contact Table</h2>
        </div>
    </div>

    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Married</th>
                <th>Phone</th>
                <th>Salary</th>
                <th style="width:15%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr id="row-@c.Id">
                    <td>
                        <span id="name-view" class="view-mode">@c.Name</span>
                        <input id="name-edit" type="text" class="edit-mode" style="display:none;" value="@c.Name" />
                    </td>
                    <td>
                        <span id="dateofbirth-view" class="view-mode">@c.DateOfBirth.ToShortDateString()</span>
                        <input id="dateofbirth-edit" type="date" class="edit-mode" style="display:none;" value="@c.DateOfBirth.ToString("yyyy-MM-dd")" />
                    </td>
                    <td>
                        <span id="married-view" class="view-mode">@c.Married</span>
                        <input id="married-edit" type="checkbox" class="edit-mode form-check-input" style="display:none;" @(c.Married ? "checked" : "") />
                    </td>
                    <td>
                        <span id="phone-view" class="view-mode">@c.Phone</span>
                        <input id="phone-edit" type="text" class="edit-mode" style="display:none;" value="@c.Phone" />
                    </td>
                    <td>
                        <span id="salary-view" class="view-mode">@c.Salary</span>
                        <input id="salary-edit" type="number" class="edit-mode" style="display:none;" value="@c.Salary.ToString(System.Globalization.CultureInfo.InvariantCulture)" />
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-btn" onclick="editRow(@c.Id)">Edit</button>
                        <button class="btn btn-sm btn-success save-btn" style="display:none;" onclick="saveRow(@c.Id)">Save</button>
                        <button class="btn btn-sm btn-secondary cancel-btn" style="display:none;" onclick="cancelEdit(@c.Id)">Cancel</button>
                        <a class="btn btn-sm btn-danger delete-btn cancel-btn" data-url="@Url.Action("Delete", "Home", new { id = @c.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Married</th>
                <th>Phone</th>
                <th>Salary</th>
                <td style="width:15%"></td>
            </tr>
        </tfoot>
    </table>
</div>

@* resources needed to use DataTable library *@
<script src="//code.jquery.com/jquery-3.7.1.js"></script>
<script src="//cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
@* library for responsive data delition *@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@* script for inline editing *@
<script src="~/js/inlineEditing.js"></script>
@* script for ordering, filtering and pagination *@
<script src="~/js/dataTable.js"></script>
@* script for record deletion *@
<script src="~/js/itemDeletion.js"></script>